<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Burger</title>
    
</head>
<body>
    <form action="burger-place" method="GET">
        <h3>Burgers: <input type="text" name="burgers" id="burgers" placeholder="Enter Burger Amount"></h3>
        <h3>Fries: <input type="text" name="fries" placeholder="Enter Fries Amount"></h3>
        <h3>Drink: <input type="text" name="drinks" placeholder="Enter Drink Amount"></h3>
        <input type="submit" value="submit">
    </form>
    <p>Your total is ${{total}}!</p>
</body> 